.band {
    background-color: aqua;
    padding: 100px;
    margin-top: 30px; /* Distance from the top */
    
    height: 70px;
     
    background-image: url('diage.jpg');
    background-size: 100% 210%;
    border-radius: 70px;
    border: 4px solid #ff00ff;
    box-shadow: 0 0 20px 10px #ff00ff; /* Add glow effect */
    position: relative; /* Required for inset shadow */
}

.band::after {
    content: '';
    position: absolute;
    inset: -4px; /* Adjust as needed */
    border-radius: 70px;
    box-shadow: inset 0 0 20px 10px #ff00ff; /* Add inset glow effect */
}

body {
    background-color: black;
}

.farm {
    width: 150px;
    height: 150px;
    background-image: url('farm.jpg');
    background-size: cover;
    align-items: center;
    border-radius: 200px;
    margin-top: 120px;
    margin-right: 1000px;
    margin-left: 445px;
    border: 4px solid #ff00ff;
    box-shadow: 100 200 20px 10px #ff00ff; /* Add glow effect */
    position: relative; /* Required for inset shadow */
}

.farm::after {
    content: '';
    position: absolute;
    inset: -4px; /* Adjust as needed */
    border-radius: 200px;
    box-shadow: inset 0 0 20px 10px #ff00ff; /* Add inset glow effect */
}

.invite {
    width: 200x;
    height: 570px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 100px;
    border-radius: 60px;
    border: 3px solid #ff00ff;
   padding: 20px 150px;
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5); /* Add glow effect */
    position: relative; /* Required for inset shadow */
    color: #27282c;
}

.invite::after {
    content: '';
    position: absolute;
    inset: -3px; /* Adjust as needed */
    border-radius: 60px;
    box-shadow: inset 0 0 20px 10px rgba(255, 255, 255, 0.5); /* Add inset glow effect */
}

p {
    text-align: center;
   
  
    font-size: 24px;
    color: palevioletred;
}
.container{
    position:relative;
    width:100%;
    height: 100vh;
    overflow:hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #ff00ff;
    margin:0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ff00ff, /*กำหนดการเรืองเเสงของ element */
    0 0 50px #ff00ff, 0 0 100px #ff00ff;
    animation: animate 15s linear infinite;
    animation-duration:calc(60s/var(--i));

}
.bubbles span:nth-child(even){
    background: #63ff3e;
    margin:0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #63ff3e, /*กำหนดการเรืองเเสงของ element */
    0 0 50px #63ff3e, 0 0 100px #63ff3e; 
}
@keyframes animate{
    0%{
        transform:translateY(100vh) scale(0);
    }
    100%{
        transform:translateY(-10vh) scale(1);
    }
}
.click{
    bottom: 80px;
}
#click{
    bottom: 80px;
}





a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;  
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 10px;
    transition: 0.5s;
    z-index: 1; 
  }
  a:hover{
    letter-spacing: 0.25em ;
    
    color: var(--clr);
    box-shadow: 0 0 0px var(--clr);
  }
  a::before {
   content:'';
   position: absolute;
   inset: 2px;
   background: #27282c;
   z-index: -1; 
  }
  a span{
    position: relative;
    z-index: 2; 
  }
  a i{
    position: absolute;
    inset: 0;
    display: block;
    z-index: 0; 
  }
  a i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
    z-index: -1; 
  }
  a:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 40px 39px var(--clr);
    box-shadow: 0 0 0 5px #ff1867, /*กำหนดการเรืองเเสงของ element */
    0 0 50px #ff1867, 0 0 100px #ff1867; 
    animation: animate 15s linear infinite;
    animation-duration:calc(60s/var(--i));

    
  }
  
  a i::after{
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #27282c;
    
    transition: 0.5s;
    z-index: -1; /* Ensure this pseudo-element is below the button */
    box-shadow: 0 0 0 5px #ff1867, /*กำหนดการเรืองเเสงของ element */
    0 0 50px #ff1867, 0 0 100px #ff1867; 
    animation: animate 15s linear infinite;
    animation-duration:calc(60s/var(--i));

  }

  a:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    
    
    animation: animate 15s linear infinite;
    animation-duration:calc(60s/var(--i));

  }